In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/23 20:17:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
print('Apache Spark Version :'+spark.version)

Apache Spark Version :3.4.2

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-02-23 20:20:31--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T202031Z&X-Amz-Expires=300&X-Amz-Signature=d2d349b7be3ddcd424c81ebd9941b3b9489bfbacf74b90cfed21f9827d537f59&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-23 20:20:31--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T202031Z&X-Amz-Expires=300&X-Amz-Signature=d2d349b7be3ddcd424c81ebd9941b3b9489bfbacf74b90cfed21f9827d537f59&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  --.-KB/s    in 0.1s

2024-02-23 20:20:32 (144 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [5]:
!ls

fhv_tripdata_2019-10.csv.gz  homework_w5.ipynb

In [6]:
!wc -l fhv_tripdata_2019-10.csv.gz
!gunzip fhv_tripdata_2019-10.csv.gz

62958 fhv_tripdata_2019-10.csv.gz

In [7]:
df_fhv = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [8]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [10]:
import pandas as pd

In [12]:
!ls

fhv_tripdata_2019-10.csv  homework_w5.ipynb

In [13]:
df_fhv_pd = pd.read_csv('fhv_tripdata_2019-10.csv', nrows=1000)

In [14]:
df_fhv_pd.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [16]:
df_fhv_pd.head(1)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009

In [15]:
from pyspark.sql import types

In [17]:
fhv_schema = types.StructType([
    types.StructField("dispatching_base_num", types.StringType(), True),
    types.StructField("pickup_datetime", types.TimestampType(), True),
    types.StructField("dropOff_datetime", types.TimestampType(), True),
    types.StructField("PUlocationID", types.IntegerType(), True),
    types.StructField("DOlocationID", types.IntegerType(), True),
    types.StructField("SR_Flag", types.StringType(), True),
    types.StructField("Affiliated_base_number", types.StringType(), True)
])

In [18]:
df_fhv = spark.read \
    .option("header", "true") \
    .schema(fhv_schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [19]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [20]:
df_fhv.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [21]:
df_fhv.head(10)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 0, 48), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 7, 12), PUlocationID=129, DOlocationID=129, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 47, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 53, 25), PUlocationID=57, DOlocationID=57, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 10, 6), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 19, 50), PUlocationID=173, DOlocationID=173, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 51, 37), dropOff_datetime=datetime.datetime(2019, 10, 1, 1, 6, 14), PUlocationID=226, DOlocationID=226, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 28, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 34, 33), PUlocationID=56, DOlocationID=56, SR_Flag=None, Affiliated_base_number='B00021         ')]

In [22]:
df_fhv = df_fhv.repartition(6)

In [24]:
df_fhv.write.parquet('fhv/')

In [26]:
!ls -lh fhv/

total 37M
-rw-r--r-- 1 quocvo quocvo    0 Feb 23 20:32 _SUCCESS
-rw-r--r-- 1 quocvo quocvo 6.2M Feb 23 20:32 part-00000-e3f5f494-469b-4ffc-82ba-29ab33d7f5d8-c000.snappy.parquet
-rw-r--r-- 1 quocvo quocvo 6.2M Feb 23 20:32 part-00001-e3f5f494-469b-4ffc-82ba-29ab33d7f5d8-c000.snappy.parquet
-rw-r--r-- 1 quocvo quocvo 6.2M Feb 23 20:32 part-00002-e3f5f494-469b-4ffc-82ba-29ab33d7f5d8-c000.snappy.parquet
-rw-r--r-- 1 quocvo quocvo 6.2M Feb 23 20:32 part-00003-e3f5f494-469b-4ffc-82ba-29ab33d7f5d8-c000.snappy.parquet
-rw-r--r-- 1 quocvo quocvo 6.2M Feb 23 20:32 part-00004-e3f5f494-469b-4ffc-82ba-29ab33d7f5d8-c000.snappy.parquet
-rw-r--r-- 1 quocvo quocvo 6.2M Feb 23 20:32 part-00005-e3f5f494-469b-4ffc-82ba-29ab33d7f5d8-c000.snappy.parquet

In [27]:
df_fhv.registerTempTable('fhv_data')

/home/quocvo/spark/spark-3.4.2-bin-hadoop3/python/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [28]:
spark.sql("""
SELECT * from fhv_data LIMIT 5;
""").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00860|2019-10-07 09:14:27|2019-10-07 09:36:30|         264|         247|   null|                B00860|
|              B01016|2019-10-08 07:56:57|2019-10-08 07:59:04|         264|          76|   null|                B01016|
|              B02401|2019-10-04 14:09:41|2019-10-04 14:43:58|         264|         237|   null|                B02401|
|              B03047|2019-10-08 14:29:11|2019-10-08 16:23:10|          86|         159|   null|                B03047|
|              B02975|2019-10-01 13:33:35|2019-10-01 13:43:46|         264|          73|   null|                B02975|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+

In [29]:
spark.sql("""
SELECT 
    COUNT(*) as trip_count
FROM
    fhv_data
WHERE
    EXTRACT(DAY FROM pickup_datetime) = 15
""").show()

+----------+
|trip_count|
+----------+
|     62610|
+----------+

In [33]:
spark.sql("""
SELECT
    dispatching_base_num,
    pickup_datetime,
    dropOff_datetime,
    CAST(TIMESTAMPDIFF(HOUR, pickup_datetime, dropOff_datetime) AS NUMERIC(10, 2)) AS length_hour 
FROM
    fhv_data
ORDER BY
    length_hour DESC
LIMIT
    5
""").show()

+--------------------+-------------------+-------------------+-----------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|length_hour|
+--------------------+-------------------+-------------------+-----------+
|              B02832|2019-10-11 18:00:00|2091-10-11 18:30:00|  631152.00|
|              B02832|2019-10-28 09:00:00|2091-10-28 09:30:00|  631152.00|
|              B02416|2019-10-31 23:46:33|2029-11-01 00:13:00|   87672.00|
|     B00746         |2019-10-01 21:43:42|2027-10-01 21:45:23|   70128.00|
|              B02921|2019-10-17 14:00:00|2020-10-18 00:00:00|    8794.00|
+--------------------+-------------------+-------------------+-----------+

In [34]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-02-23 20:56:46--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T205647Z&X-Amz-Expires=300&X-Amz-Signature=7be2455a849b733490c6b42ee7594e32723ed7ba259317ac3e23d96f5a4fb03c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-02-23 20:56:47--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T205647Z&X-Amz-Expires=300&X-Amz-Signature=7be2455a849b733490c6b42ee7594e32723ed7ba259317ac3e23d96f5a4fb03c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-02-23 20:56:47 (47.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [35]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [36]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [37]:
df_result = df_fhv.join(df_zones, df_fhv.PUlocationID == df_zones.LocationID)

In [39]:
df_result = df_result.drop('PUlocationID','LocationID', 'DOlocationID')
df_result.show()

+--------------------+-------------------+-------------------+-------+----------------------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|SR_Flag|Affiliated_base_number|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+-------+----------------------+---------+--------------------+------------+
|              B00860|2019-10-01 00:05:17|2019-10-01 00:16:09|   null|                B00860|  Unknown|                  NV|         N/A|
|              B02715|2019-10-04 13:06:26|2019-10-04 13:33:09|   null|                B00272|   Queens|         JFK Airport|    Airports|
|              B00756|2019-10-01 09:11:00|2019-10-01 09:59:00|   null|                B02866|  Unknown|                  NV|         N/A|
|     B02462         |2019-10-01 17:51:38|2019-10-01 18:06:03|   null|       B02462         |   Queens|            Flushing|   Boro Zone|
|              B03047|2019-10-01 10:25:05|2019-10-01 11:40:24|   null|                B03047|Manhattan|   East Harlem North|   Boro Zone|
|              B01730|2019-10-02 19:37:54|2019-10-02 20:15:49|   null|                B02096|  Unknown|                  NV|         N/A|
|              B00221|2019-10-08 09:31:51|2019-10-08 09:31:53|   null|                B00221|  Unknown|                  NV|         N/A|
|              B03060|2019-10-04 14:12:14|2019-10-04 14:19:40|   null|                B03060|  Unknown|                  NV|         N/A|
|              B02293|2019-10-01 17:07:27|2019-10-01 18:01:21|   null|                B02293|Manhattan|Upper West Side N...| Yellow Zone|
|              B03016|2019-10-07 16:38:33|2019-10-07 16:53:39|   null|                B03016|  Unknown|                  NV|         N/A|
|              B01751|2019-10-03 06:29:23|2019-10-03 06:52:09|   null|                B01751|  Unknown|                  NV|         N/A|
|              B01061|2019-10-08 15:08:52|2019-10-08 15:13:14|   null|                B01061|  Unknown|                  NV|         N/A|
|     B01470         |2019-10-01 12:12:00|2019-10-01 12:56:13|   null|       B03113         |   Queens|             Astoria|   Boro Zone|
|              B01312|2019-10-06 17:53:25|2019-10-06 18:16:47|   null|                B01312|  Unknown|                  NV|         N/A|
|              B01984|2019-10-03 10:00:00|2019-10-03 10:41:00|   null|                B01984|  Unknown|                  NV|         N/A|
|              B00628|2019-10-01 21:09:41|2019-10-01 21:54:50|   null|                B00628|Manhattan|Financial Distric...| Yellow Zone|
|              B00536|2019-10-03 08:42:24|2019-10-03 08:49:48|   null|                B00536|  Unknown|                  NV|         N/A|
|              B00887|2019-10-03 19:17:16|2019-10-03 20:21:07|   null|                B02465|  Unknown|                  NV|         N/A|
|              B00256|2019-10-05 04:21:54|2019-10-05 04:47:47|   null|                B00256|  Unknown|                  NV|         N/A|
|              B03060|2019-10-03 11:08:31|2019-10-03 11:18:06|   null|                B02876|  Unknown|                  NV|         N/A|
+--------------------+-------------------+-------------------+-------+----------------------+---------+--------------------+------------+
only showing top 20 rows

In [40]:
df_result.createOrReplaceTempView("trips")

In [42]:
spark.sql("""
SELECT
    Zone,
    COUNT(1) as number_records
FROM
    trips
GROUP BY
    Zone
ORDER BY
    number_records
LIMIT
    5
""").show()

+--------------------+--------------+
|                Zone|number_records|
+--------------------+--------------+
|         Jamaica Bay|             1|
|Governor's Island...|             2|
| Green-Wood Cemetery|             5|
|       Broad Channel|             8|
|     Highbridge Park|            14|
+--------------------+--------------+