# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

In [2]:
limit = 5
generator = square_root_generator(limit)
result = 0
for sqrt_value in generator:
    result += sqrt_value
print(result)

8.382332347441762

In [3]:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [4]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [5]:
%%capture
!pip install dlt[duckdb]

In [7]:
import dlt

# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')


# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_1(),
                               table_name="homework2",
                               write_disposition="append")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.63 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///D:\Learning\05. Data engineering\00. Zoomcamp\Workshop\dlt\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708260574.4332402 is LOADED and contains no failed jobs

In [11]:
# show outcome

import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n homework2 table below:")

people1 = conn.sql("SELECT * FROM homework2").df()
display(people1)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ homework2           │
└─────────────────────┘

 homework2 table below:

   id      name  age    city        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A  1708260574.4332402  5tsIWHwD6t06eA
1   2  Person_2   27  City_A  1708260574.4332402  G0R6NsQ7v36wIA
2   3  Person_3   28  City_A  1708260574.4332402  d/875LnOW9laXQ
3   4  Person_4   29  City_A  1708260574.4332402  mAV12x4F2XHalQ
4   5  Person_5   30  City_A  1708260574.4332402  dVECf+rwMh4DGg

In [12]:
print("the sum of ages of all people after first generator below:")

age1 = conn.sql("SELECT SUM(age) FROM homework2").df()
display(age1)

the sum of ages of all people after first generator below:

   sum(age)
0     140.0

In [13]:
# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline.run(people_2(),
                               table_name="homework2",
                               write_disposition="append")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.47 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///D:\Learning\05. Data engineering\00. Zoomcamp\Workshop\dlt\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708260829.834915 is LOADED and contains no failed jobs

In [14]:
# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n homework2 table after second generator below:")

people2 = conn.sql("SELECT * FROM homework2").df()
display(people2)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ homework2           │
└─────────────────────┘

 homework2 table after second generator below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1708260574.4332402  5tsIWHwD6t06eA       None
1    2  Person_2   27  City_A  1708260574.4332402  G0R6NsQ7v36wIA       None
2    3  Person_3   28  City_A  1708260574.4332402  d/875LnOW9laXQ       None
3    4  Person_4   29  City_A  1708260574.4332402  mAV12x4F2XHalQ       None
4    5  Person_5   30  City_A  1708260574.4332402  dVECf+rwMh4DGg       None
5    3  Person_3   33  City_B   1708260829.834915  9HAaBbYEEa8MHw      Job_3
6    4  Person_4   34  City_B   1708260829.834915  BZsKuD85wCpPSw      Job_4
7    5  Person_5   35  City_B   1708260829.834915  72zWOwOSFLWdDw      Job_5
8    6  Person_6   36  City_B   1708260829.834915  lu5pHJjsAphcRA      Job_6
9    7  Person_7   37  City_B   1708260829.834915  KzYNaR89szqi/g      Job_7
10   8  Person_8   38  City_B   1708260829.834915  bHSV2CwnXFreGA      Job_8

In [15]:
print("the sum of ages of all people after second generator below:")

age2 = conn.sql("SELECT SUM(age) FROM homework2").df()
display(age2)

the sum of ages of all people after second generator below:

   sum(age)
0     353.0

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [ ]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [16]:
# to do: homework :)
# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline_new = dlt.pipeline(destination='duckdb', dataset_name='generators')


# we can load any generator to a table at the pipeline destnation as follows:
info_new = generators_pipeline_new.run(people_1(),
                                       table_name="homework2_new",
                                       primary_key="id",
                                       write_disposition="merge")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info_new)

Pipeline dlt_ipykernel_launcher load step completed in 0.73 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///D:\Learning\05. Data engineering\00. Zoomcamp\Workshop\dlt\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708261186.02014 is LOADED and contains no failed jobs

In [17]:
# show outcome
conn_new = duckdb.connect(f"{generators_pipeline_new.pipeline_name}.duckdb")

# let's see the tables
conn_new.sql(f"SET search_path = '{generators_pipeline_new.dataset_name}'")
print('Loaded tables: ')
display(conn_new.sql("show tables"))

# and the data

print("\n homework2_new table below:")

people_new_1 = conn_new.sql("SELECT * FROM homework2_new").df()
display(people_new_1)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ homework2           │
│ homework2_new       │
└─────────────────────┘

 homework2_new table below:

   id      name  age    city      _dlt_load_id         _dlt_id
0   5  Person_5   30  City_A  1708261186.02014  diEPiZKi971D4A
1   4  Person_4   29  City_A  1708261186.02014  dQKuHcTRFFWAuw
2   1  Person_1   26  City_A  1708261186.02014  dvL9OluTIYn4Ow
3   3  Person_3   28  City_A  1708261186.02014  EN4kAfHdP9614g
4   2  Person_2   27  City_A  1708261186.02014  uRO16dvP8+2JHQ

In [18]:
# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline_new.run(people_2(),
                                   table_name="homework2_new",
                                   primary_key="id",
                                   write_disposition="merge")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.65 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///D:\Learning\05. Data engineering\00. Zoomcamp\Workshop\dlt\dlt_ipykernel_launcher.duckdb location to store data
Load package 1708261360.5040758 is LOADED and contains no failed jobs

In [19]:
print("\n homework2_new table after second generator below:")

people_new_2 = conn_new.sql("SELECT * FROM homework2_new").df()
display(people_new_2)

 homework2_new table after second generator below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A    1708261186.02014  dvL9OluTIYn4Ow       None
1   2  Person_2   27  City_A    1708261186.02014  uRO16dvP8+2JHQ       None
2   3  Person_3   33  City_B  1708261360.5040758  pipkfTQOFioC4w      Job_3
3   6  Person_6   36  City_B  1708261360.5040758  wXxMT4va4OuIZQ      Job_6
4   8  Person_8   38  City_B  1708261360.5040758  RtIIBHpOrtagEA      Job_8
5   4  Person_4   34  City_B  1708261360.5040758  6nliEyYdn5Et5Q      Job_4
6   7  Person_7   37  City_B  1708261360.5040758  OX1BHjdlwjY5Vg      Job_7
7   5  Person_5   35  City_B  1708261360.5040758  M4XwOA9zcRmfuw      Job_5

In [20]:
print("the sum of ages of all people after second generator below:")

age2 = conn.sql("SELECT SUM(age) FROM homework2_new").df()
display(age2)

the sum of ages of all people after second generator below:

   sum(age)
0     266.0

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX