In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/22 19:46:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2

In [5]:
rdd = df_green \
    .select('lpep_pickup_datetime', 'PULocationID', 'total_amount') \
    .rdd

In [6]:
rdd.take(5)

[Row(lpep_pickup_datetime=datetime.datetime(2019, 1, 27, 18, 7, 53), PULocationID=82, total_amount=12.3),
 Row(lpep_pickup_datetime=datetime.datetime(2019, 1, 17, 7, 38, 57), PULocationID=41, total_amount=7.8),
 Row(lpep_pickup_datetime=datetime.datetime(2019, 1, 30, 0, 40, 5), PULocationID=82, total_amount=7.8),
 Row(lpep_pickup_datetime=datetime.datetime(2019, 1, 29, 18, 59, 48), PULocationID=130, total_amount=16.64),
 Row(lpep_pickup_datetime=datetime.datetime(2019, 1, 11, 11, 56, 18), PULocationID=119, total_amount=39.56)]

In [7]:
from datetime import datetime

In [8]:
start = datetime(year=2020, month=1, day=1)

In [9]:
rdd.filter(lambda row: row.lpep_pickup_datetime >= start).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 3, 7, 9, 24, 23), PULocationID=226, total_amount=6.8)]

In [10]:
start = datetime(year=2020, month=1, day=1)

def filter_outliers(row):
    return row.lpep_pickup_datetime >= start

In [11]:
rdd.filter(filter_outliers).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 3, 7, 9, 24, 23), PULocationID=226, total_amount=6.8)]

In [12]:
rows = rdd.take(10)
row = rows[0]

In [13]:
row.lpep_pickup_datetime

datetime.datetime(2019, 1, 27, 18, 7, 53)

In [14]:
row.lpep_pickup_datetime.replace(minute=0, second=0, microsecond=0)

datetime.datetime(2019, 1, 27, 18, 0)

In [15]:
row.PULocationID

82

In [16]:
def prepare_for_grouping(row): 
    hour = row.lpep_pickup_datetime.replace(minute=0, second=0, microsecond=0)
    zone = row.PULocationID
    key = (hour, zone)
    
    amount = row.total_amount
    count = 1
    value = (amount, count)

    return (key, value)

In [18]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .take(10)

[((datetime.datetime(2020, 3, 7, 9, 0), 226), (6.8, 1)),
 ((datetime.datetime(2062, 8, 15, 0, 0), 7), (3.6, 1)),
 ((datetime.datetime(2020, 2, 15, 0, 0), 7), (9.8, 1)),
 ((datetime.datetime(2020, 1, 3, 9, 0), 226), (10.8, 1)),
 ((datetime.datetime(2020, 4, 22, 20, 0), 129), (9.75, 1)),
 ((datetime.datetime(2020, 1, 1, 1, 0), 129), (13.3, 1)),
 ((datetime.datetime(2020, 1, 3, 8, 0), 82), (12.3, 1)),
 ((datetime.datetime(2020, 1, 1, 0, 0), 129), (10.8, 1)),
 ((datetime.datetime(2020, 1, 1, 5, 0), 129), (11.8, 1)),
 ((datetime.datetime(2020, 1, 1, 3, 0), 226), (19.05, 1))]

In [19]:
def calculate_revenue(left_value, right_value):
    left_amount, left_count = left_value
    right_amount, right_count = right_value
    
    output_amount = left_amount + right_amount
    output_count = left_count + right_count
    
    return (output_amount, output_count)

In [20]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .take(10)

[((datetime.datetime(2062, 8, 15, 0, 0), 7), (3.6, 1)),
 ((datetime.datetime(2020, 1, 3, 9, 0), 226), (108.33999999999999, 6)),
 ((datetime.datetime(2020, 1, 1, 1, 0), 129), (760.7699999999998, 48)),
 ((datetime.datetime(2020, 1, 1, 5, 0), 129), (320.8400000000001, 20)),
 ((datetime.datetime(2020, 1, 1, 4, 0), 129), (531.7900000000002, 43)),
 ((datetime.datetime(2020, 2, 14, 19, 0), 82), (1199.1199999999994, 73)),
 ((datetime.datetime(2020, 1, 24, 11, 0), 82), (292.5400000000001, 19)),
 ((datetime.datetime(2020, 2, 14, 19, 0), 260), (354.1700000000001, 28)),
 ((datetime.datetime(2020, 1, 20, 15, 0), 67), (79.5, 3)),
 ((datetime.datetime(2020, 1, 29, 19, 0), 166), (695.0099999999999, 45))]

In [24]:
def unwrap(row):
    return (row[0][0], row[0][1], row[1][0], row[1][1])

In [28]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF() \
    .show()

+-------------------+---+------------------+---+
|                 _1| _2|                _3| _4|
+-------------------+---+------------------+---+
|2062-08-15 00:00:00|  7|               3.6|  1|
|2020-01-03 09:00:00|226|108.33999999999999|  6|
|2020-01-01 01:00:00|129| 760.7699999999998| 48|
|2020-01-01 05:00:00|129| 320.8400000000001| 20|
|2020-01-01 04:00:00|129| 531.7900000000002| 43|
|2020-02-14 19:00:00| 82|1199.1199999999994| 73|
|2020-01-24 11:00:00| 82| 292.5400000000001| 19|
|2020-02-14 19:00:00|260| 354.1700000000001| 28|
|2020-01-20 15:00:00| 67|              79.5|  3|
|2020-01-29 19:00:00|166| 695.0099999999999| 45|
|2020-01-15 11:00:00|179|              50.5|  5|
|2020-01-28 17:00:00| 75| 1485.579999999998|101|
|2020-01-22 14:00:00|152|154.92999999999998| 10|
|2020-01-27 02:00:00|  7|             52.66|  4|
|2020-01-16 14:00:00| 74| 895.1799999999994| 60|
|2020-01-16 18:00:00| 66|385.56000000000006| 24|
|2020-01-03 09:00:00| 61|            142.21|  9|
|2020-01-24 07:00:00|225|169.42000000000002|  6|
|2020-01-12 12:00:00| 82|            290.41| 14|
|2020-01-13 19:00:00|223|213.83000000000004| 19|
+-------------------+---+------------------+---+
only showing top 20 rows

In [29]:
from collections import namedtuple

In [30]:
RevenueRow = namedtuple('RevenueRow', ['hour', 'zone', 'revenue', 'count'])

In [31]:
def unwrap(row):
    return RevenueRow(
        hour=row[0][0], 
        zone=row[0][1],
        revenue=row[1][0],
        count=row[1][1]
    )

In [32]:
df_result = rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF()

In [33]:
df_result.schema

StructType([StructField('hour', TimestampType(), True), StructField('zone', LongType(), True), StructField('revenue', DoubleType(), True), StructField('count', LongType(), True)])

In [34]:
from pyspark.sql import types

In [35]:
result_schema = types.StructType([
    types.StructField('hour', types.TimestampType(), True),
    types.StructField('zone', types.IntegerType(), True),
    types.StructField('revenue', types.DoubleType(), True),
    types.StructField('count', types.IntegerType(), True)
])

In [36]:
df_result = rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF(result_schema)

In [37]:
df_result.schema

StructType([StructField('hour', TimestampType(), True), StructField('zone', IntegerType(), True), StructField('revenue', DoubleType(), True), StructField('count', IntegerType(), True)])

In [38]:
df_result.show()

+-------------------+----+------------------+-----+
|               hour|zone|           revenue|count|
+-------------------+----+------------------+-----+
|2062-08-15 00:00:00|   7|               3.6|    1|
|2020-01-03 09:00:00| 226|108.33999999999999|    6|
|2020-01-01 01:00:00| 129| 760.7699999999998|   48|
|2020-01-01 05:00:00| 129| 320.8400000000001|   20|
|2020-01-01 04:00:00| 129| 531.7900000000002|   43|
|2020-02-14 19:00:00|  82|1199.1199999999994|   73|
|2020-01-24 11:00:00|  82| 292.5400000000001|   19|
|2020-02-14 19:00:00| 260| 354.1700000000001|   28|
|2020-01-20 15:00:00|  67|              79.5|    3|
|2020-01-29 19:00:00| 166| 695.0099999999999|   45|
|2020-01-15 11:00:00| 179|              50.5|    5|
|2020-01-28 17:00:00|  75| 1485.579999999998|  101|
|2020-01-22 14:00:00| 152|154.92999999999998|   10|
|2020-01-27 02:00:00|   7|             52.66|    4|
|2020-01-16 14:00:00|  74| 895.1799999999994|   60|
|2020-01-16 18:00:00|  66|385.56000000000006|   24|
|2020-01-03 09:00:00|  61|            142.21|    9|
|2020-01-24 07:00:00| 225|169.42000000000002|    6|
|2020-01-12 12:00:00|  82|            290.41|   14|
|2020-01-13 19:00:00| 223|213.83000000000004|   19|
+-------------------+----+------------------+-----+
only showing top 20 rows

In [39]:
df_result.write.parquet('tmp/green-revenue')

In [40]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2019-01-27 18:07:53|  2019-01-27 18:20:54|                 N|         1|          82|         160|              1|         2.91|       11.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        12.3|           2|        1|                null|
|       2| 2019-01-17 07:38:57|  2019-01-17 07:46:47|                 N|         1|          41|          74|              1|         1.08|        7.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                null|
|       2| 2019-01-30 00:40:05|  2019-01-30 00:45:53|                 N|         1|          82|         129|              1|         1.24|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|
|       2| 2019-01-29 18:59:48|  2019-01-29 19:10:56|                 N|         1|         130|          10|              1|          2.5|       11.0|  1.0|    0.5|      3.84|         0.0|     null|                  0.3|       16.64|           1|        1|                 0.0|
|       2| 2019-01-11 11:56:18|  2019-01-11 12:37:23|                 N|         1|         119|         226|              1|         8.72|       33.0|  0.0|    0.5|       0.0|        5.76|     null|                  0.3|       39.56|           1|        1|                null|
|       2| 2019-01-22 13:00:15|  2019-01-22 13:07:14|                 N|         1|          75|         151|              1|         1.58|        7.5|  0.0|    0.5|      2.49|         0.0|     null|                  0.3|       10.79|           1|        1|                null|
|       2| 2019-01-19 23:14:34|  2019-01-19 23:19:17|                 N|         1|          41|          42|              1|         0.82|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|                null|
|       2| 2019-01-22 10:48:42|  2019-01-22 11:03:54|                 N|         1|         183|          81|              1|         3.26|       13.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        14.3|           1|        1|                null|
|       2| 2019-01-15 16:34:38|  2019-01-15 16:54:31|                 N|         1|          72|          61|              1|         2.57|       14.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        16.3|           1|        1|                null|
|       1| 2019-01-31 16:24:12|  2019-01-31 16:29:21|                 N|         1|          75|         236|              1|          0.8|        5.5|  1.0|    0.5|      1.45|         0.0|     null|                  0.3|        8.75|           1|        1|                 0.0|
|       2| 2019-01-09 19:00:16|  2019-01-09 19:11:19|                 N|         1|         260|           7|              1|         2.02|        9.5|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|        11.3|           2|        1|                null|
|       2| 2019-01-29 20:48:03|  2019-01-29 21:40:24|                 N|         1|         145|         196|              1|          9.0|       38.5|  0.5|    0.5|       5.0|         0.0|     null|                  0.3|        44.8|           1|        1|                 0.0|
|       2| 2019-01-24 08:10:55|  2019-01-24 08:25:50|                 N|         1|          74|         236|              1|         1.74|       10.5|  0.0|    0.5|       1.5|         0.0|     null|                  0.3|        12.8|           1|        1|                null|
|       2| 2019-01-13 04:03:31|  2019-01-13 04:09:31|                 N|         1|          80|         157|              1|         1.94|        7.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.8|           2|        1|                null|
|       2| 2019-01-26 09:03:30|  2019-01-26 09:18:37|                 N|         1|         129|         145|              1|         3.49|       13.5|  0.0|    0.5|      2.86|         0.0|     null|                  0.3|       17.16|           1|        1|                null|
|       2| 2019-01-06 21:04:20|  2019-01-06 21:09:13|                 N|         1|           7|         226|              1|         0.89|        5.5|  0.5|    0.5|      1.36|         0.0|     null|                  0.3|        8.16|           1|        1|                null|
|       2| 2019-01-25 17:23:13|  2019-01-25 17:38:23|                 N|         1|         244|         238|              1|         4.78|       17.0|  1.0|    0.5|      3.76|         0.0|     null|                  0.3|       22.56|           1|        1|                null|
|       2| 2019-01-19 23:10:59|  2019-01-19 23:22:03|                 N|         1|         130|          10|              1|         2.69|       10.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        11.8|           1|        1|                null|
|       2| 2019-01-22 11:26:57|  2019-01-22 11:49:16|                 N|         1|         174|         247|              5|         3.88|       17.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        17.8|           1|        1|                null|
|       2| 2019-01-26 04:23:58|  2019-01-26 04:27:31|                 N|         1|         181|         228|              1|         0.58|        4.5|  0.5|    0.5|      1.16|         0.0|     null|                  0.3|        6.96|           1|        1|                null|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [41]:
columns = ['VendorID', 'lpep_pickup_datetime', 'PULocationID', 'DOLocationID', 'trip_distance']

duration_rdd = df_green \
    .select(columns) \
    .rdd

In [42]:
duration_rdd.take(5)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 27, 18, 7, 53), PULocationID=82, DOLocationID=160, trip_distance=2.91),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 17, 7, 38, 57), PULocationID=41, DOLocationID=74, trip_distance=1.08),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 30, 0, 40, 5), PULocationID=82, DOLocationID=129, trip_distance=1.24),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 29, 18, 59, 48), PULocationID=130, DOLocationID=10, trip_distance=2.5),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 11, 11, 56, 18), PULocationID=119, DOLocationID=226, trip_distance=8.72)]

In [43]:
import pandas as pd

In [44]:
rows = duration_rdd.take(10)

In [45]:
rows

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 27, 18, 7, 53), PULocationID=82, DOLocationID=160, trip_distance=2.91),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 17, 7, 38, 57), PULocationID=41, DOLocationID=74, trip_distance=1.08),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 30, 0, 40, 5), PULocationID=82, DOLocationID=129, trip_distance=1.24),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 29, 18, 59, 48), PULocationID=130, DOLocationID=10, trip_distance=2.5),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 11, 11, 56, 18), PULocationID=119, DOLocationID=226, trip_distance=8.72),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 22, 13, 0, 15), PULocationID=75, DOLocationID=151, trip_distance=1.58),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 19, 23, 14, 34), PULocationID=41, DOLocationID=42, trip_distance=0.82),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 22, 10, 48, 42), PULocationID=183, DOLocationID=81, trip_distance=3.26),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2019, 1, 15, 16, 34, 38), PULocationID=72, DOLocationID=61, trip_distance=2.57),
 Row(VendorID=1, lpep_pickup_datetime=datetime.datetime(2019, 1, 31, 16, 24, 12), PULocationID=75, DOLocationID=236, trip_distance=0.8)]

In [48]:
columns

['VendorID',
 'lpep_pickup_datetime',
 'PULocationID',
 'DOLocationID',
 'trip_distance']

In [46]:
df = pd.DataFrame(rows, columns=columns)

In [47]:
df

   VendorID lpep_pickup_datetime  PULocationID  DOLocationID  trip_distance
0         2  2019-01-27 18:07:53            82           160           2.91
1         2  2019-01-17 07:38:57            41            74           1.08
2         2  2019-01-30 00:40:05            82           129           1.24
3         2  2019-01-29 18:59:48           130            10           2.50
4         2  2019-01-11 11:56:18           119           226           8.72
5         2  2019-01-22 13:00:15            75           151           1.58
6         2  2019-01-19 23:14:34            41            42           0.82
7         2  2019-01-22 10:48:42           183            81           3.26
8         2  2019-01-15 16:34:38            72            61           2.57
9         1  2019-01-31 16:24:12            75           236           0.80

In [49]:
#model = ...

def model_predict(df):
#   y_pred = model.predict(df)
    y_pred = df.trip_distance * 5
    return y_pred

In [53]:
df = pd.DataFrame(rows, columns=columns)

In [54]:
df.itertuples()

In [55]:
list(df.itertuples())

[Pandas(Index=0, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-27 18:07:53'), PULocationID=82, DOLocationID=160, trip_distance=2.91),
 Pandas(Index=1, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-17 07:38:57'), PULocationID=41, DOLocationID=74, trip_distance=1.08),
 Pandas(Index=2, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-30 00:40:05'), PULocationID=82, DOLocationID=129, trip_distance=1.24),
 Pandas(Index=3, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-29 18:59:48'), PULocationID=130, DOLocationID=10, trip_distance=2.5),
 Pandas(Index=4, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-11 11:56:18'), PULocationID=119, DOLocationID=226, trip_distance=8.72),
 Pandas(Index=5, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-22 13:00:15'), PULocationID=75, DOLocationID=151, trip_distance=1.58),
 Pandas(Index=6, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-19 23:14:34'), PULocationID=41, DOLocationID=42, trip_distance=0.82),
 Pandas(Index=7, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-22 10:48:42'), PULocationID=183, DOLocationID=81, trip_distance=3.26),
 Pandas(Index=8, VendorID=2, lpep_pickup_datetime=Timestamp('2019-01-15 16:34:38'), PULocationID=72, DOLocationID=61, trip_distance=2.57),
 Pandas(Index=9, VendorID=1, lpep_pickup_datetime=Timestamp('2019-01-31 16:24:12'), PULocationID=75, DOLocationID=236, trip_distance=0.8)]

In [56]:
def infinite_seq():
    i = 0
    while True:
        yield i
        i = i + 1

In [57]:
seq = infinite_seq()

In [58]:
next(seq)

0

In [59]:
next(seq)

1

In [60]:
next(seq)

2

In [61]:
for i in seq:
    print(i)
    if i >=8:
        break

3
4
5
6
7
8

In [62]:
def infinite_seq():
    i = 0
    while True:
        yield i
        i = i + 1
        if i > 15:
            break

In [63]:
seq = infinite_seq()

In [64]:
list(seq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [65]:
def apply_model_in_batch(rows):
    df = pd.DataFrame(rows, columns=columns)
    predictions = model_predict(df)
    df['predicted_duration'] = predictions

    for row in df.itertuples():
        yield row

In [68]:
df_predicts = duration_rdd \
    .mapPartitions(apply_model_in_batch)\
    .toDF() \
    .show()

+-----+--------+--------------------+------------+------------+-------------+------------------+
|Index|VendorID|lpep_pickup_datetime|PULocationID|DOLocationID|trip_distance|predicted_duration|
+-----+--------+--------------------+------------+------------+-------------+------------------+
|    0|       2|                  {}|          82|         160|         2.91|             14.55|
|    1|       2|                  {}|          41|          74|         1.08|               5.4|
|    2|       2|                  {}|          82|         129|         1.24|               6.2|
|    3|       2|                  {}|         130|          10|          2.5|              12.5|
|    4|       2|                  {}|         119|         226|         8.72|              43.6|
|    5|       2|                  {}|          75|         151|         1.58|               7.9|
|    6|       2|                  {}|          41|          42|         0.82|               4.1|
|    7|       2|                  {}|         183|          81|         3.26|16.299999999999997|
|    8|       2|                  {}|          72|          61|         2.57|             12.85|
|    9|       1|                  {}|          75|         236|          0.8|               4.0|
|   10|       2|                  {}|         260|           7|         2.02|              10.1|
|   11|       2|                  {}|         145|         196|          9.0|              45.0|
|   12|       2|                  {}|          74|         236|         1.74|               8.7|
|   13|       2|                  {}|          80|         157|         1.94|               9.7|
|   14|       2|                  {}|         129|         145|         3.49|17.450000000000003|
|   15|       2|                  {}|           7|         226|         0.89|              4.45|
|   16|       2|                  {}|         244|         238|         4.78|23.900000000000002|
|   17|       2|                  {}|         130|          10|         2.69|             13.45|
|   18|       2|                  {}|         174|         247|         3.88|              19.4|
|   19|       2|                  {}|         181|         228|         0.58|               2.9|
+-----+--------+--------------------+------------+------------+-------------+------------------+
only showing top 20 rows

In [69]:
df_predicts = duration_rdd \
    .mapPartitions(apply_model_in_batch)\
    .toDF() \
    .drop('Index')

In [70]:
df_predicts.show()

+--------+--------------------+------------+------------+-------------+------------------+
|VendorID|lpep_pickup_datetime|PULocationID|DOLocationID|trip_distance|predicted_duration|
+--------+--------------------+------------+------------+-------------+------------------+
|       2|                  {}|          82|         160|         2.91|             14.55|
|       2|                  {}|          41|          74|         1.08|               5.4|
|       2|                  {}|          82|         129|         1.24|               6.2|
|       2|                  {}|         130|          10|          2.5|              12.5|
|       2|                  {}|         119|         226|         8.72|              43.6|
|       2|                  {}|          75|         151|         1.58|               7.9|
|       2|                  {}|          41|          42|         0.82|               4.1|
|       2|                  {}|         183|          81|         3.26|16.299999999999997|
|       2|                  {}|          72|          61|         2.57|             12.85|
|       1|                  {}|          75|         236|          0.8|               4.0|
|       2|                  {}|         260|           7|         2.02|              10.1|
|       2|                  {}|         145|         196|          9.0|              45.0|
|       2|                  {}|          74|         236|         1.74|               8.7|
|       2|                  {}|          80|         157|         1.94|               9.7|
|       2|                  {}|         129|         145|         3.49|17.450000000000003|
|       2|                  {}|           7|         226|         0.89|              4.45|
|       2|                  {}|         244|         238|         4.78|23.900000000000002|
|       2|                  {}|         130|          10|         2.69|             13.45|
|       2|                  {}|         174|         247|         3.88|              19.4|
|       2|                  {}|         181|         228|         0.58|               2.9|
+--------+--------------------+------------+------------+-------------+------------------+
only showing top 20 rows

In [71]:
df_predicts.select('predicted_duration').show()

+------------------+
|predicted_duration|
+------------------+
|             14.55|
|               5.4|
|               6.2|
|              12.5|
|              43.6|
|               7.9|
|               4.1|
|16.299999999999997|
|             12.85|
|               4.0|
|              10.1|
|              45.0|
|               8.7|
|               9.7|
|17.450000000000003|
|              4.45|
|23.900000000000002|
|             13.45|
|              19.4|
|               2.9|
+------------------+
only showing top 20 rows

In [72]:
spark.stop()